<div
  class="h-screen w-screen p-12 bg-[url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d843fov-5ad2d436-789b-48f4-91ac-7a553ca26306.png/v1/fit/w_800,h_480,q_70,strp/pokemon_x_and_y_battle_background_10_by_phoenixoflight92_d843fov-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDgwIiwicGF0aCI6IlwvZlwvMmZiMjgyMWEtMTQwNi00YTFkLTliMDQtNjY2OGYyNzhlOTQ0XC9kODQzZm92LTVhZDJkNDM2LTc4OWItNDhmNC05MWFjLTdhNTUzY2EyNjMwNi5wbmciLCJ3aWR0aCI6Ijw9ODAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.GDgdTCimJ7gu-xjrSk3AJTwmRIhzr22pON8xLKQ9x4g)] bg-cover"
>
  <div class="w-1/4 xs:w-1/3">
    <pbs-poke-bar
      [pokemonName]="'Balbasaur'"
      [maxHP]="300"
      [currentHP]="201"
      [level]="100"
      [pokemonGender]="1"
    />
  </div>
</div>
