<div class="h-screen w-screen flex flex-col justify-between p-12 bg-cover">
  <div class="w-1/4 xs:w-1/3 self-end">
    <pbs-poke-bar
      [pokemonName]="'Balbasaur'"
      [maxHP]="300"
      [currentHP]="12"
      [level]="100"
      [pokemonGender]="1"
    />
  </div>
  <div class="flex justify-between gap-12 w-full">
    <div class="w-1/4 xs:w-1/3 self-end">
      <pbs-poke-bar
        [pokemonName]="'Balbasaur'"
        [maxHP]="300"
        [currentHP]="12"
        [level]="100"
        [pokemonGender]="1"
      />
    </div>
    <div class="w-2/5">
      <pbs-move-selector (moveClicked)="moveClick($event)" />
    </div>
  </div>
</div>
