<div class="border rounded-md p-4 grid gap-4">
  <div class="flex justify-between font-bold text-xl">
    <div class="flex gap-4">
      <h2>{{ pokemonName() }}</h2>
      <div>{{ pokemonGender() }}</div>
    </div>

    <div>
      <h2>Lv {{ level() }}</h2>
    </div>
  </div>

  <div class="flex gap-4 justify-between items-center">
    <div class="font-bold text-xl">HP</div>
    <div class="flex-1">
      <div class="w-full bg-gray-300 rounded-full h-6 overflow-hidden">
        <div
          class="h-6 transition-all duration-200 ease-in-out"
          [ngClass]="{
            'bg-red-500': percentHP() <= 30,
            'bg-orange-500': percentHP() > 30 && percentHP() < 60,
            'bg-green-500': percentHP() >= 60,
          }"
          [style.width.%]="percentHP()"
        ></div>
      </div>
      <!-- <p-progressBar
        [value]="percentHP()"
        [showValue]="false"
        [styleClass]="percentHP() | hpBarColor"
      /> -->
    </div>
  </div>
</div>
